<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.github.log4j2hipchat">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c{1}] - %m%n"/>
    </Console>
    
    <HipChat name="HipChatAppender" 
      authToken="insertyourhipchattokenhere" 
      roomId="Logging"/>
  </Appenders>
  
  <Loggers>
    <Logger name="com.github.log4j2hipchat" level="info"/>

    <Root level="trace">
      <AppenderRef ref="STDOUT" level="info"/>
      <AppenderRef ref="HipChatAppender" level="info"/>
    </Root>
  </Loggers>
</Configuration>